# InfluxDB Cloud — pega aquí tus credenciales y renombra este archivo a .env
INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=<pega-aquí-tu-token-de-influxdb>
INFLUX_ORG=<id-de-tu-organización>
INFLUX_BUCKET=ErgIoT_Bucket
INFLUX_MEASUREMENT=telemetria_ergonomica

# Umbrales ergonómicos (opcionales, tienen defaults)
UMBRAL_ANGULO_DEG=30
UMBRAL_PRESION_OCUPADO=100
ALERTA_DURACION_S=10
